.spacer {
	flex: 1 1 auto;
}

.list_icon {
	padding-right: 5px;
}

.chapters {
	padding-right: 50px;
}

#nav_home_button {
	margin-right: 20px;
	border: 1px solid black;
}

#nav_home_button:hover {
	background-color: #ffffff;
	color: black;
}