.header-title {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	padding-top: 25px;
	padding-left: 100px;
	color: black;
	text-decoration: underline;
	align-items: center;
}

.restore {
	align-self: flex-end;
	padding-bottom: 8px;
	border: 1px solid;
	width: 89px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 8px;
}