.header-title {
	display: flex;
	justify-content: space-between;
}

.align1{
	align-self: flex-start;
}

.title {
	margin: auto;
	padding-top: 25px;
	color: black;
	text-decoration: underline;
	justify-content: center;
	padding-left: 10%;
	
}


.chapter-drop-down {
	align-self: flex-end;
	padding-top: 25px;
	padding-bottom: 8px;
	border: 1px solid;
	width: 89px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 8px;
	border: none;
}


.restore {
	align-self: flex-end;
	padding-bottom: 8px;
	border: 1px solid;
	width: 89px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 8px;
	border: none;
}