.header-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.align1{
	background-color: green;
	width: 189px;
}

.title {
	margin: auto;
	padding-top: 25px;
	color: black;
	text-decoration: underline;
	align-items: center;
	justify-content: center;
	text-align: center;
	
}


.chapter-drop-down {
	padding-top: 25px;
	align-self: flex-end;
	padding-bottom: 8px;
	border: 1px solid;
	width: 89px;
	height: 40px;
	margin-left: 25%;
	margin-right: 10px;
	margin-bottom: 8px;
	border: none;
}


.restore {
	align-self: flex-end;
	padding-bottom: 8px;
	border: 1px solid;
	width: 89px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 8px;
	border: none;
}